body{
    width:100%;
    margin:0px;
   
}

.intro{
    
    background-color:aquamarine;
    color:white;
    
    
    
}

#image{
    width:50%;
}



#nav{
    height:50px;
    background-color: bisque;
    color:darkorange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#skills{
    color:bisque;
    background-color: black;
}

#projects{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: fuchsia;
    
}


#footer{
    text-align: center;
    
    
}
