body{
    width:100%;
    margin:0px;
    background-color: rgb(252, 242, 230);

}


#intro{
    /* background-image:url("./bg.jpg"); */
    background-color: rgb(190, 243, 243);
    height: 400px;
}


#profileImage>img{
    margin-top: 1%;
    height:240px;
    width:20%;
    border-radius: 130px;
    box-shadow: 0px 0px 40px rgb(235, 253, 253);
}
#profileName{
    color:rgb(8, 8, 0);
    font-family: cursive;
}

#aboutMe{
    width:85%;
    height:200px;
    /* border:2px solid green; */
    margin-left:8%;
    box-shadow: 0px 10px 20px rgba(195, 247, 247, 0.911);
}


#aboutMeHeading{
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bold;
}
#aboutMeContent{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    
}

#projects{
    width:85%;
        height:200px;
        /* border:2px solid green; */
        margin-left:8%;
        box-shadow: 0px 10px 20px rgba(195, 247, 247, 0.911);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
    text-align: center;
    
}



#skills{
        width:85%;
        height:200px;
        /* border:2px solid green; */
        margin-left:8%;
        box-shadow: 0px 10px 20px rgba(195, 247, 247, 0.911);
        
}

#skills{
    color:darkblue;
    font-weight: 400;
    text-align: center;
    
}
.skillsContent{
    height:10px;
    width:5%;
    border:2px solid blue;

}

hr{
    margin:0px;
}

#nav{
    height:50px;
    display:content;
    text-align: center;
    font-weight: 900;
    color:black;}
    /* text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */



.img{
    height:10px;
    width:10%;
}

#footer{
    background-color: rgb(18, 1, 26);
}
#footerContent{
    border:2px solid black;
    color:aliceblue;

}

/* #footer{
    text-align: center;
} */
#copyright{
    text-align: center;
    color:deeppink
}
